.notification {
  &-panel {
    width: 300px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 52px;
    right: 12px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    z-index: 9999;
    background-color: #fff;
  }

  &-header {
    font-size: 14px;
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  &-list {
    &-item {
      display: flex;
      padding: 16px 12px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      cursor: pointer;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    &-header {
      font-weight: 500;
      margin-bottom: 7px;
    }

    &-content {
      color: #555;
    }
  }

  &-icon {
    font-size: 32px !important;
    color: $primary !important;
    margin-right: 15px;
  }

  &-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }

  &-footer {
    font-size: 14px;
    text-align: center;
    padding: 12px;
    cursor: pointer;

    &:hover {
      background: $silver;
    }
  }
}
