// imports
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

// Variables first to use them everywhere
@import "base/variables";

// Initialize base Style
@import "base/base";

// Add basic reusable styles
@import "base/paddings";
@import "base/mixins";
@import "base/margins";
