// imports
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

// Variables first to use them everywhere
@import "base/variables";

// Initialize base Style
@import "base/base";

// Add basic reusable styles
@import "base/paddings";
@import "base/mixins";
@import "base/margins";

// Components and Pages
@import "components/navbar";
@import "components/sidebar";
@import "components/mobileSidebar";
@import "components/featured";
@import "components/charts/simpleLineChart";
@import "components/charts/simplePieChart";
@import "components/charts/stackedBarChart";
@import "components/widgets/widgetSmall";
@import "components/widgets/widgetLarge";
@import "components/modals/modals";

@import "pages/home";
@import "pages/userList";
@import "pages/user";
@import "pages/newUser";
@import "pages/productList";
@import "pages/analytics";
