* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

// Home page main scss
.main-container {
  display: flex;
}

// removing styles from react Link component
.react-link {
  color: inherit;
  text-decoration: none;
}
