.space {
  &-mb {
    &--10 {
      margin-bottom: 10px;
    }
    &--20 {
      margin-bottom: 20px;
    }
    &--30 {
      margin-bottom: 30px;
    }
    &--40 {
      margin-bottom: 40px;
    }
    &--50 {
      margin-bottom: 50px;
    }
  }
}

.space {
  &-mt {
    &--10 {
      margin-top: 10px;
    }
    &--20 {
      margin-top: 20px;
    }
    &--30 {
      margin-top: 30px;
    }
    &--40 {
      margin-top: 40px;
    }
    &--50 {
      margin-top: 50px;
    }
    &--130 {
      margin-top: 130px;
    }
  }
}
