$font-family: "Inter", sans-serif;

// main colors
$primary: #3f51b5;
$primary-light: #757de8;
$primary-dark: #002984;
$primary-text: #fff;
$secondary: #f44336;
$secondary-light: #ff7961;
$secondary-dark: #ba000d;
$secondary-text: #000;
$error: #b00020;

// some extras
$rally-green: #1eb980;
$rally-dark-green: #045d56;
$rally-orange: #ff6859;
$rally-yellow: #ffcf44;
$rally-purple: #b15dff;
$rally-blue: #72deff;

// responsive breakpoints
$extra-small-break: 480px;
$small-break: 780px;
$big-break: 960px;

// Better default colors
// Cool
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;
// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
// Gray Scale
$white: #fff;
$silver: #ddd;
$grey: #aaa;
$black: #111;
