.mobile-sidebar {
  flex: 1;
  height: calc(100vh - 64px);
  background-color: $primary;
  color: #fff;
  position: sticky;
  top: 64px;

  &-wrapper {
    padding: 20px;
  }

  &-menu {
    margin-bottom: 10px;

    &-title {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 8px;
      color: #fff;
    }
  }

  &-list {
    list-style: none;

    &:last-child {
      margin-bottom: 14px;
    }
    &-item {
      padding: 7px;
      margin-top: 1px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 10px;

      &:hover,
      &.active {
        background-color: $primary-dark;
      }

      &-text {
        font-size: 13px;
      }
    }
  }
}

.material-icon-mobile-sidebar {
  font-size: 22px !important;
  margin-right: 15px;
}

@include responsive($small-break) {
  .mobile-sidebar {
    position: fixed;
    width: 280px;
    z-index: 999;
  }
}
