.navbar {
  width: 100%;
  height: 64px;
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 999;

  &-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  &-left {
    font-size: 30px;
    color: $primary-dark;
    font-weight: 700;
  }

  &-right {
    display: flex;
  }

  &-icon {
    color: $nav-icon-color;
    position: relative;
    width: 42px;
    height: 42px;
    margin: auto 6px auto 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.message-number {
  width: 17px;
  height: 17px;
  position: absolute;
  background-color: $primary-light;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  top: 0px;
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
