.widget {
  &-small {
    flex: 1;
    padding: 20px;
    margin-right: 14px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: $card-box-shadow;

    &-title {
      font-size: 18px;
      font-weight: 600;
      padding-left: 10px;
    }

    &-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    &-list {
      list-style: none;

      &-item {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
      }
    }

    &-user {
      &-info {
        flex: 2;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
      }

      &-name {
        font-weight: 600;
      }

      &-title {
        margin-top: 4px;
        font-size: 13px;
        color: #555;
      }
    }

    &-btn {
      padding: 5px 7px;
      border-radius: 8px;
      height: 40px;
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: $primary;
      font-size: 12px;
      font-weight: 700;
    }
  }
}

.material-icon-widget-small {
  color: $primary;
  margin-right: 5px;
}
