.widget {
  &-large {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: $card-box-shadow;

    &-title {
      font-size: 18px;
      font-weight: 600;
      padding-left: 10px;
    }

    &-table {
      width: 100%;
      border-spacing: 20px;

      &-header {
        text-align: left;
        font-size: 16px;
        font-weight: 600;
      }

      &-username {
        font-size: 14px;
        font-weight: 500;
      }

      &-btn {
        padding: 5px 7px;
        font-weight: 600;
        font-size: 12px;
        border: none;
        border-radius: 6px;

        &.approved {
          background: $rally-green;
          color: $white;

          &::first-letter {
            text-transform: uppercase;
          }
        }

        &.pending {
          background: $rally-yellow;
          color: $white;

          &::first-letter {
            text-transform: uppercase;
          }
        }

        &.declined {
          background: $secondary-light;
          color: $white;

          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }

    &-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }

    &-user {
      display: flex;
      align-items: center;
    }

    &-date,
    &-amount {
      font-size: 14px;
      color: #555;
    }
  }
}
