.home {
  flex: 4;
  width: 100%;
  background-color: rgb(252, 248, 247);

  &-charts {
    display: flex;
    margin: 20px;
  }

  &-widgets {
    margin: 20px;
    display: flex;
  }
}

@include responsive($small-break) {
  .home {
    &-charts {
      flex-direction: column;
    }

    &-widgets {
      flex-direction: column;
    }
  }
}
