.new-user {
  flex: 4;
  padding: 20px;
  width: 100%;
  background-color: rgb(252, 248, 247);

  &-title {
    font-size: 24px;
    font-weight: 600;
  }

  &-container {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: $card-box-shadow;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  &-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &-item {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 20px;

    label {
      font-size: 15px;
      margin-bottom: 8px;
    }

    input,
    select {
      outline: none;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid $grey;
      color: #555;
    }

    input:focus {
      border: 1px solid $green;
    }
  }

  &-radio-labels {
    input {
      margin-right: 5px;
      cursor: pointer;
    }

    label {
      margin-right: 20px;
      color: #555;
      cursor: pointer;
    }
  }

  &-save-btn {
    background-color: $green;
    padding: 8px;
    color: $white;
    border-radius: 5px;
    margin-top: 10px;
    width: 80px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    align-self: center;
  }
}
