.chart {
  &-pie {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: $card-box-shadow;
    margin-left: 14px;

    &-tooltip {
      font-size: 14px;
      border-radius: 6px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@include responsive($small-break) {
  .chart {
    &-pie {
      margin-left: 0;
    }
  }
}
